body{
  margin: 0;
}



header {
  background-color: violet;
  color: white;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  }

.logo {
  height: 50px;
}

nav a{
   
     font-family: sans-serif;
     font-size: 1rem;
     margin-top: 3rem;
    color: white;
     text-decoration: none;
     padding: 50px;

}
.head{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  color: black;
}


form {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
 display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.forms {
  display: flex;
  flex-direction: column;
  width: 18%;
  min-width: 150px;
}
label:active {
    color: skyblue;
}


label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {

  background-color:violet;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto;
}
button:hover {
  background-color: #388e3c;
}
footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}

footer p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #555;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4CAF50; 
}




footer {
  background-color: violet;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  margin-top: 300px;
}

.about-img {
  width: 350px;          
  height: 250px;        
  border-radius: 20px;   
  object-fit: cover;    
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}